.stepper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px 10px;
}
.display_stepper {
  display: flex;
  padding-bottom: 10px;
  width: 100%;
  position: relative;
}
.display_stepper:last-child {
  width: auto;
}
.display_line {
  width: 100%;
  border-top: 1px solid #d9d9d9;
  transition: all 0.4s ease-in-out;
  margin-top: 15px;
}
.display_nums_des {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-bottom: 5rem;
}
.display_nums {
  border: 2px solid var(--gen-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
.display_des {
  display: flex;
  top: 35px;
  position: absolute;
  line-height: 1.2em;
}
/*
.display_nums_des .display_nums {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.display_nums_des .display_nums::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: gray;
}
.display_line {
  display: flex;
  border: 1px solid gray;
  transition: all 0.4s ease-in-out;
} */
/* .stepper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 15px 60px 15px;
}
.dis_nums_des {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dis_nums_des .dis_nums {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid grey;
  transition: all 0.3s ease-in-out;
}
.dis_nums_des .dis_des {
  position: absolute;
  top: 0;
  text-align: center;
  margin-top: 25px;
  width: 32px;
} */
