.reset_password {
  border-radius: 10px;
  padding: 2.5rem 1rem;
}
.reset_password .reset_password_title {
  text-align: center;
}
.reset_password .reset_password_title h2 {
  color: var(--text-color);
  font-size: 25px;
}
.reset_password form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.reset_password .form_container {
  margin-top: 2rem;
  text-align: center;
  padding: 20px;
  width: 340px;
  background-color: rgba(230, 243, 243, 0.4);
  border-radius: 8px;
  z-index: 90;
}
.reset_button button {
  padding: 5px 50px;
}
