.low_references_title {
  text-align: center;
}
.low_references_title > h2 {
  font-size: 20px;
  color: var(--text-color);
}
.low_tabHeaders {
  margin-top: 1rem;
}
.low_ref_title ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.low_ref_title ul li {
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
}
.low_ref {
  margin: 1rem 0;
}
.low_ref ul {
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--gen-color);
  margin-bottom: 0.5rem;
  border-radius: 6px;
  padding: 8px 0;
}
.low_ref ul li {
  margin-top: 10px;
}
.low_ref ul li span {
  color: var(--text-color);
  font-size: 16px;
}

@media (max-width: 991px) {
  .low_tabHeaders {
    flex-wrap: wrap;
  }
}
