.low_references_title {
  text-align: center;
}
.low_references_title > h2 {
  font-size: 20px;
  color: var(--text-color);
}
.low_tabHeaders {
  margin-top: 1rem;
}

@media (max-width: 991px) {
  .low_tabHeaders {
    flex-wrap: wrap;
  }
}
