/* #_____ Introduction of Faculties _____# */
.faculties_sections_title {
  margin-top: 6rem;
}
.faculties_sections_title h2 {
  font-size: 30px;
  text-shadow: 3px 3px 20px #99ffe9, -2px 1px 30px #77d5f1;
}
.introduction_of_faculty p {
  color: var(--text-color);
  line-height: 1.8em;
  margin-bottom: 1rem;
  margin-top: 10px;
  text-align: justify;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.05);
}
/* #_____ End of Introduction of Faculties _____# */

/* #_____ Introduction of Dean of Faculties _____# */
.intro_of_dean_of_faculty {
  margin: 4rem 0;
  gap: 30px;
}
.intro_of_dean_of_faculty .dean_of_faculty_info {
  flex: 1.5;
}
.dean_of_faculty_info .dean_of_img {
  position: relative;
  width: 330px;
  height: 330px;
  background-image: url("../../assets/img/deans/back_img.png");
  border-radius: 10px;
}

.dean_of_faculty_info .dean_of_img img {
  width: 290px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.dean_of_faculty_details {
  padding-top: 1rem;
}
.dean_of_faculty_details ul li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border: 2px solid transparent;
  border-right-color: var(--gen-color);
  border-radius: 50px;
  padding: 5px 10px;
}
.dean_of_faculty_details ul li strong,
.dean_of_faculty_details ul li span {
  color: var(--text-color);
  font-size: 16px;
}
/* text */
.intro_of_dean_of_faculty .dean_of_faculty_text {
  flex: 3;
  margin-top: 2rem;
}
.intro_of_dean_of_faculty .dean_of_faculty_text p {
  text-align: justify;
  margin: 30px;
  color: var(--text-color);
}
/* #_____ End of Introduction of Dean of Faculties _____# */

/* #_____ View Point of the Faculties _____# */
.view_point_tabHeader,
.goals_tabHeader {
  margin-top: 1rem;
}
/* .faculties_tabHeader_contents .faculties_tabHeader_content {
  display: none;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--gen-color);
  border-radius: 3px;
}
.faculties_tabHeader_contents .active_content {
  display: block;
} */
/* #_____ End of View Point of the Faculties _____# */

/* #_____ Goals and Mission of the Faculties _____# */
.goals_contents ul {
  padding: 10px 1.5rem;
  list-style-type: disc;
  list-style-type: square;
}
.goals_contents ul li span {
  color: var(--text-color);
}
/* #_____ End of Goals and Mission of the Faculties _____# */

/* #_____ Organization Chart of the Faculties _____# */
.organization_chart_img {
  margin: 0 2rem;
  margin-top: 1.8rem;
}
.organization_chart_img img {
  width: 100%;
  border-radius: 10px;
}
/* #_____ End of Organization Chart of the Faculties _____# */

/* Responsive */
@media (max-width: 991px) {
  .intro_of_dean_of_faculty {
    flex-wrap: wrap;
  }
  .intro_of_dean_of_faculty .dean_of_faculty_text {
    margin-top: 0rem;
  }
  .intro_of_dean_of_faculty .dean_of_faculty_text p {
    margin: 30px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
  .dean_of_faculty_info .dean_of_img {
    width: 220px;
    height: 220px;
  }
  .dean_of_faculty_info .dean_of_img img {
    width: 200px;
    height: 250px;
  }
  .dean_of_faculty_details ul li {
    /* justify-content: space-between; */
    flex-direction: column;
  }
}
