.showcase_slider {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
}
.active_slide {
  display: inline-block;
}
.inactive {
  display: none;
}
