.profile {
  margin: 0 40px;
}

.profile_title {
  position: relative;
  width: 100%;
  height: 180px;
  background: linear-gradient(
    to top,
    rgba(86, 189, 236, 0.5),
    rgba(55, 181, 171, 0.2)
  );
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* Logout & Change Password */
.profile_title .logout_changePass {
  position: absolute;
  left: 2%;
  top: 20px;
  z-index: 1;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.profile_title .logout_changePass button {
  background-color: transparent;
  border: 1px solid var(--gen-color);
  color: var(--text-color);
  outline: none;
  border-radius: 8px;
  padding: 4px 12px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
}

.profile_title .logout_changePass button i {
  padding-right: 6px;
}
/* Logout Modal */
.profile_title .logout > i {
  color: var(--gen-color);
  font-size: 60px;
}

.profile_title .logout > p {
  font-size: 15px;
  color: var(--text-color);
}

.profile_title .logout .logout_buttons {
  background-color: var(--gen-bg-color);
  padding: 15px 0px;
  margin: 0 20px;
  border-radius: 10px;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 5px;
}

.profile_title .logout .logout_buttons button {
  padding: 2px 30px;
}

/* User profile img */
.user_profile_img {
  position: absolute;
  bottom: -25px;
  right: 4%;
  z-index: 1;
}

.user_profile_img img {
  border: 3px solid var(--gen-color-hover);
  border-right-color: rgb(157, 255, 0);
  border-bottom-color: rgb(157, 255, 0);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  object-fit: cover;
  object-position: top;
  background: #67b0d1;
}

.user_profile_img img:hover {
  border-right-color: var(--gen-color-hover);
  border-bottom-color: var(--gen-color-hover);
  border-top-color: rgb(157, 255, 0);
  border-left-color: rgb(157, 255, 0);
}

.user_profile_img h1 {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 700;
  font-family: vazir_l;
  margin: 0 15px 0px 0;
  line-height: 26px;
  text-shadow: 1px 1px 1px #2f4d5a;
  word-spacing: 0.02em;
  text-align: center;
}

/* user content */
.content_of_profile {
  margin: 20px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 var(--gen-bg-color);
  padding: 30px;
}

.content_of_profile .content {
  display: none;
}

.content_of_profile .active_content {
  display: block;
}

.content_of_profile .content_boxes {
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 1rem;
}

.content_of_profile .content_box label {
  display: block;
  color: var(--text-color);
  font-weight: 500;
  padding: 0 10px 10px 0;
  font-size: 15px;
}

.content_of_profile .content_box p {
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
  color: var(--text-color);
  background: var(--gen-bg-color);
  outline: none;
  border-radius: 8px;
  word-break: break-word;
}

/* Responsive */
@media (max-width: 991px) {
  .content_of_profile .content_boxes {
    grid-template-columns: repeat(2, 1fr);
  }

  .profile_title .logout > i {
    font-size: 55px;
  }

  .profile_title .logout .logout_buttons {
    margin: 0 6px;
    margin-top: 20px;
  }

  .profile_title .logout .logout_buttons button {
    padding: 2px 25px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .profile {
    margin: 0 10px;
  }
  .user_profile_img {
    bottom: -25px;
    right: 3%;
  }

  .user_profile_img img {
    width: 90px;
    height: 90px;
  }

  .user_profile_img h1 {
    font-size: 22px;
  }

  .content_of_profile .content_boxes {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 480px) {
  .profile_title {
    height: 210px;
  }
  .profile_title .logout_changePass {
    top: 10px;
    gap: 5px;
  }

  .profile_title .logout_changePass button {
    padding: 4px 10px;
    font-size: 13.5px;
  }

  .user_profile_img {
    bottom: 6px;
    right: 2%;
  }

  .user_profile_img img {
    width: 80px;
    height: 80px;
    border-width: 2px;
  }

  .user_profile_img h1 {
    font-size: 19px;
  }

  .profile_title .logout > i {
    font-size: 50px;
  }
  .profile_title .logout_changePass button i {
    padding-right: 2px;
  }
}
@media (max-width: 375px) {
  .profile {
    margin: 0 0px;
  }
  .user_profile_img img {
    width: 65px;
    height: 65px;
    border-width: 1px;
  }
  .user_profile_img h1 {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    word-spacing: 0em;
  }
  .profile_title .logout_changePass button {
    padding: 4px 8px;
    font-size: 13.5px;
  }
}
