.profile_title {
  position: relative;
  width: 100%;
  height: 180px;
  background: linear-gradient(rgba(55, 142, 181, 0.5), rgba(55, 142, 181, 0.2)),
    url("../../assets/img/user-bg.jpg") top center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.user_profile_img {
  position: absolute;
  bottom: -25px;
  right: 10%;
  display: flex;
  align-items: center;
  z-index: 1;
}
.user_profile_img img {
  border: 4px solid var(--gen-color-hover);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.user_profile_img h1 {
  color: rgb(56, 57, 57);
  font-size: 27px;
  font-weight: 700;
  font-family: vazir_l;
  margin: 0 15px 0px 0;
  line-height: 56px;
  text-shadow: 1px 1px 1px #2f4d5a;
}
.tab_header {
  position: relative;
  width: 100%;
  background: var(--gen-bg-color);
  z-index: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab_header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab_header ul li {
  padding: 8px 0;
  margin: 0 2px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.tab_header ul li:hover,
.tab_header ul .active_tab {
  border-bottom: 2px solid var(--gen-color);
}
.tab_header ul li span {
  font-size: 16px;
  padding: 0 10px;
}

/* user content */
.content {
  display: none;
}
.active_content {
  display: block;
}
.content_boxes {
  margin: 40px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
}

.content_boxes .full_box {
  grid-column: 1/3;
}

.content_box label {
  display: block;
  color: #000;
  font-weight: 500;
  padding: 0 10px 10px 0;
}

.content_box p {
  width: 100%;
  padding: 10px 15px;
  font-size: 18px;
  color: #000;
  background: var(--gen-bg-color);
  outline: none;
  border-radius: 10px;
}
