.faculties_tabHeader_content ul {
  padding: 10px 1.5rem;
  list-style-type: square;
}

.dentistry_tabHeaders {
  margin-top: 1rem;
}
.dentistry_ref_title ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.dentistry_ref_title ul li {
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
}
.dentistry_ref {
  margin: 1rem 0;
}
.dentistry_ref ul {
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--gen-color);
  margin-bottom: 0.5rem;
  border-radius: 6px;
  padding: 8px 0;
}
.dentistry_ref ul li {
  margin-top: 10px;
}
.dentistry_ref ul li span {
  color: var(--text-color);
  font-size: 16px;
}

@media (max-width: 991px) {
  .dentistry_tabHeaders {
    flex-wrap: wrap;
  }
}
