.faculties_tabHeader_content ul {
  padding: 10px 1.5rem;
  list-style-type: square;
}

.dentistry_tabHeaders {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--gen-bg-color);
  z-index: 0;
  border-radius: 10px;
  margin-top: 1rem;
}
.dentistry_tabHeaders ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
}
.dentistry_tabHeaders ul li {
  padding: 8px 10px;
  cursor: pointer;
  border: 2px solid transparent;
}
.dentistry_tabHeaders ul li:hover,
.dentistry_tabHeaders ul .active_tab {
  border-top-color: var(--gen-color);
}
.dentistry_tabHeaders ul li span {
  font-size: 15px;
  line-height: 1em;
  color: var(--text-color);
}

.dentistry_tabHeader {
  display: none;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--gen-color);
  border-radius: 3px;
}
.dentistry_tabHeader.active_content {
  display: block;
}
.dentistry_ref_title ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.dentistry_ref_title ul li {
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
}
.dentistry_ref {
  margin: 1rem 0;
}
.dentistry_ref ul {
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--gen-color);
  margin-bottom: 0.5rem;
  border-radius: 6px;
  padding: 8px 0;
}
.dentistry_ref ul li {
  margin-top: 10px;
}
.dentistry_ref ul li span {
  color: var(--text-color);
  font-size: 16px;
}

@media (max-width: 991px) {
  .dentistry_tabHeaders {
    flex-wrap: wrap;
  }
}
