.home {
  width: 100%;
  height: 100%;
}
.home_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0px 30px;
}
.home_header .input_group {
  position: relative;
  width: 400px;
  margin: 0 10px;
}
.home_header .input_group label {
  position: relative;
  width: 100%;
}
.home_header .input_group label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 35px;
  outline: none;
  font-size: 17px;
  border: 1px solid var(--gen-color);
  transition: all 0.3s ease-in-out;
}
.home_header .input_group label input:focus {
  box-shadow: 1px 1px 7px 1px var(--gen-color);
}
.home_header .input_group label i {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 1rem;
}

.home_header img {
  width: 50px;
}
.showcase {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 90vh;
}
.showcase img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.showcase_sldier {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  padding: 10px;
  border-radius: 10px;
  background-image: linear-gradient(
    to left,
    var(--gen-color),
    rgba(0, 0, 0, 0.1)
  );
}
.showcase_sldier .showcase_slider_details {
  position: absolute;
  width: 60%;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  color: #fff;
}
.showcase_slider_details h1 {
  color: white;
  font-size: 64px;
  font-weight: 700;
  font-family: vazir_l;
  margin: 0 0 30px 0;
  line-height: 56px;
  text-shadow: -1px 0 2px #2f4d5a;
}
.showcase_slider_details p {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-shadow: -1px 0 2px #2f4d5a;
}

/* Section title */
.section_title {
  text-align: center;
  padding: 70px 0 30px 0;
}

section {
  overflow: hidden;
}

.section_title h1 {
  position: relative;
  font-size: 32px;
  color: #2f4d5a;
  font-weight: bold;
  z-index: 2;
}

.section_title h1::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 65px;
  background: url("../../assets/img/section-title-bg.png") no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.section_title p {
  line-height: 25px;
}

/* faculty_boxes */
.faculty_boxes {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  grid-gap: 1.5rem;
  margin: 10px;
  padding: 0 2rem 2rem 2rem;
  margin-bottom: 3rem;
}
.faculty_boxes::after {
  position: absolute;
  content: "";
  background: var(--gen-bg-color);
  width: 100%;
  height: 150px;
  top: 50%;
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
}
.faculty_boxes .faculty {
  position: relative;
  overflow: hidden;
  background: #fff;
  color: #000;
  border-radius: 8px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.faculty_boxes .faculty .faculty_img {
  position: relative;
}
.faculty_boxes .faculty .faculty_img img {
  width: 100%;
  height: 100%;
}
.faculty_boxes .faculty .faculty_img .img_details {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 96%;
  background-color: rgba(0, 0, 0, 0.43);
}
.faculty_boxes .faculty .faculty_img .img_details p {
  color: white;
  padding: 10px;
  font-size: 12px;
}
.faculty .faculty_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.faculty .faculty_details img {
  height: 30px;
  width: 30px;
}
.faculty .faculty_details > div {
  display: flex;
  align-items: end;
  flex-direction: column;
}
.faculty .faculty_details > div p {
  font-size: 14px;
}
/* Elite Students */
.elite_students .elite_stu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.7rem;
}
.elite_students .elite_stu_card_text {
  position: relative;
  background-color: #fff;
  padding: 20px 15px 30px;
  border-radius: 6px;
  box-sizing: content-box;
  min-height: 130px;
}
.elite_students .elite_stu_card_text::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 18px solid #fff;
  border-right: 18px solid transparent;
  border-left: 18px solid transparent;
  position: absolute;
  bottom: -18px;
  left: calc(50% - 18px);
}
.elite_students .elite_stu_card_text p {
  text-align: center;
  font-size: 16px;
  line-height: 1.4em;
}
.elite_stu_card .elite_stu_card_personalInfo {
  text-align: center;
  margin-top: 2rem;
}
.elite_stu_card .elite_stu_card_personalInfo img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
}
.elite_stu_card .elite_stu_card_personalInfo p {
  font-size: 15px;
  font-weight: 800;
  color: black;
}
.elite_stu_card .elite_stu_card_personalInfo p:last-child {
  font-size: 13px;
  font-weight: 500;
  color: gray;
}

/* auto_play_slider */
.auto_play_slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

/* .auto_play_slider div {
  background: red;
} */

/* colleague institute */
.colleague_institute_boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  grid-column: 2rem;
}
.colleague_institute_boxes .colleague_institute_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.colleague_institute_boxes .colleague_institute_box img {
  max-width: 50%;
  padding: 15px 0;
  transition: all 0.4s ease-in-out;
  filter: grayscale(100);
}
.colleague_institute_boxes .colleague_institute_box img:hover {
  filter: none;
  transform: scale(1.15);
}
