.university_navbar {
  position: relative;
  width: 100%;
  background: var(--gen-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.university_navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.university_navbar ul li {
  padding: 10px 10px;
  margin: 0 2px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.university_navbar ul li:hover,
.university_navbar ul .active_tab {
  border-bottom: 2px solid var(--gen-color);
}
.university_navbar ul li span {
  font-size: 16px;
  padding: 0 10px;
}

/* university content */
.content_of_universityInfo {
  margin: 20px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 var(--gen-bg-color);
  padding: 30px;
}
.content_of_universityInfo .content {
  display: none;
}
.content_of_universityInfo .active_content {
  display: block;
}
