.back_to_top {
  position: fixed;
  bottom: 2.5%;
  left: 1.3%;
}
.back_to_top button {
  background: var(--gen-bg-color);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 2000;
  box-shadow: 2px 2px 8px rgba(189, 243, 247, 0.4);
}
.back_to_top button i {
  margin-top: 6px;
  font-size: 25px;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}
.back_to_top button:hover i {
  margin-bottom: 10px;
}
