/* Button */
.btn {
    font-family: inherit;
    display: inline-block;
    padding: 5px 15px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--gen-color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 16px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--text-color);
    cursor: pointer;
    background: var(--btn-bg-color);
    text-align: center;
}

.btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--gen-color-hover);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.btn:hover {
    color: #fff;
}

.btn:before {
    top: 100%;
    left: 100%;
    transition: all 0.3s;
}

.btn:hover:before {
    top: -30px;
    left: -30px;
}

.btn:active:before {

    transition: background 0s;
}

/* End Button */