.delete_student {
  margin-top: 2rem;
}

.delete_student .delete_lock_buttons {
  display: flex;
  justify-content: end;
}
.delete_student .delete_lock_buttons .buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.delete_student .delete_lock_buttons .buttons button {
  border: 1px solid var(--gen-color);
  padding: 8px 10px;
  background-color:transparent;
  color: var(--text-color);
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}

/* delete buttons on modal */
.delete_cancel_modal i {
  font-size: 50px;
  color: #f12525;
}
.delete_cancel_modal h3 {
  font-size: 27px;
  margin-top: 10px;
}
.delete_cancel_modal p {
  font-size: 14px;
  line-height: 0.6em;
}
.del_cancel_btn {
  margin-top: 3rem;
  gap: 15px;
}
.delete_btn {
  border: 1px solid #f12525;
}
.delete_btn:before {
  background: #f12525;
}
