.spinner__wrapper {
  display: flex;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.spinner:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 4px;
  border-radius: 50%;
  border: 5px solid var(--gen-color);
  border-color: var(--gen-color) transparent var(--gen-color) transparent;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}