.spinner__wrapper {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner__circle {
  text-align: center;
  vertical-align: middle;
  position: relative;
  background: black;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.2);
}

.spinner__circle > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  animation: spinner 1s linear infinite;
}

.spinner__circle span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #b1afaf;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
