.wrapper {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 5px 30px;
  padding-bottom: 0;
}

.back_to_top {
  position: fixed;
  bottom: 2.5%;
  left: 3.3%;
  z-index: 1000;
}

.back_to_top button {
  background: var(--gen-bg-color);
  font-size: 25px;
  width: 43px;
  height: 43px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 2000;
}

.back_to_top button i {
  margin-top: 6px;
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}

.back_to_top button:hover i {
  margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .wrapper {
    padding: 10px;
  }
  .back_to_top {
    bottom: 2%;
    left: 5%;
  }

  .back_to_top button {
    font-size: 23px;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 480px) {
  .back_to_top {
    bottom: 1.3%;
    left: 6%;
  }
}
