.message_box {
    background: var(--gen-bg-color);
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.message_box .message_icon {
    font-size: 40px;

}

.message_box .message {
    margin: 20px;
}

.message_box button {
    margin: 0 10px;
}