.header {
  height: 55px;
}

.header_login {
  padding: 3px 20px;
  border: 1px solid var(--gen-color);
  outline: none;
  font-size: 14px;
}

.header .header_left,
.header .header_right {
  gap: 10px;
}

/* dark mode icon */
.header_left .dark_mode_toggle {
  padding: 2px 12px;
  border: 1px solid var(--gen-color);
}
.header_left .dark_mode_toggle i {
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  color: var(--text-color);
}
