.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}
.header_login {
  padding: 5px 14px;
  border: 1px solid var(--gen-color);
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--text-color);
  background-color: transparent;
}
.header .header_left,
.header .header_right {
  display: flex;
  gap: 10px;
}
/* dark mode icon */
.header_left .dark_mode_toggle i {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-size: 15px;
  color: var(--text-color);
}
