.navbar {
  position: fixed;
  flex-shrink: 0;
  overflow: auto;
  width: 200px;
  height: 100%;
  padding: 10px;
  padding-right: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gen-bg-color);
  transition: width 0.3s ease-in-out;
  z-index: 1000;
}

.menu_container {
  position: relative;
  margin-bottom: 7px;
}

.menu_container input {
  z-index: 10;
}

/* toggle_header_navbar */
.toggle_header_navbar {
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 0;
}

.toggle_header_navbar .toggle_header_icon {
  position: absolute;
  top: 80px;
  right: 164px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 2px 2px 8px rgba(189, 243, 247, 0.4);
  background-color: var(--gen-bg-color);
  transition: 0.3s;
}

.toggle_header_navbar i {
  font-size: 16px;
  transition: all 1s ease-in-out;
}

/* Navbar Profile */
.navbar .nav_profile {
  margin-top: 5px;
}

.navbar .add_img_profile,
.navbar .input_profile_img {
  width: 90px;
  height: 90px;
  background: var(--gen-bg-color);
}

.navbar .nav_profile h4 {
  font-size: 16px;
  margin-top: -5px;
}

.navbar_menu {
  margin-top: 9rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 10px;
}

.navbar_menu li {
  position: relative;
  width: 100%;
  font-size: 16px;
  text-align: left;
  border: none;
  outline: none;
  user-select: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.navbar_menu li:hover,
.navbar_menu .active {
  position: relative;
  background-color: var(--gen-main-bg);
}

.navbar_menu li a {
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 5px 10px;
  font-size: 16px;
  margin: 2px 0;
}

.navbar_menu li span {
  font-weight: 300;
  color: var(--text-color);
}

.navbar_menu li i {
  color: var(--text-color);
  font-weight: 300;
  padding: 0 8px;
  z-index: 10;
}

.faculties_menu li i img {
  width: 20px;
  filter: var(--icon-faculties-color);
  z-index: 0;
  margin-right: -4px;
}

.navbar_menu li:hover a::before,
.navbar_menu .active a::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  top: -50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: -35px 35px 0 10px var(--gen-main-bg);
  pointer-events: none;
}

.navbar_menu li:hover a::after,
.navbar_menu .active a::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  bottom: -50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: -34px -34px 0 10px var(--gen-main-bg);
  pointer-events: none;
}

/* admin panel */
.navbar__title .navbar__item {
  padding: 4px 10px;
  font-size: 16px;
}

.navbar__title .navbar__item:hover {
  background: none;
}

.navbar__title .btn_toggle {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s;
}

/* dropdown */
.drop_menu_button {
  position: absolute;
  background: no-repeat;
  top: 6px;
  height: 25px;
  left: 0;
  right: 0;
  opacity: 0;
  width: 100%;
}

.drop_menu_button:checked + .navbar__dropdown {
  transform: scaleY(1);
  height: 100px;
}
.drop_menu_button:checked + .admin_navbar__dropdown {
  height: 180px;
}

.navbar__dropdown {
  transition: transform 0.3s cubic-bezier(0.85, 0.02, 0.19, 1.04),
    height 0.3s cubic-bezier(0.85, 0.02, 0.19, 1.04);
  transform-origin: top;
  padding-right: 20px;
  width: 100%;
  height: 0;
  list-style: none;
  overflow: hidden;
  transform: scaleY(0);
  box-sizing: border-box;
  overflow: visible;
}

.navbar__title.open__navbar .navbar__dropdown {
  height: auto;
}

.navbar__dropdown li {
  margin: 2px 0;
}
.admin_navbar__dropdown li {
  margin: 1px 0;
}

.navbar__dropdown li a {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: -6px 0;
}

.navbar__dropdown li span {
  font-weight: 300;
}

/* Actives */
.active_nav_right .toggle_header_navbar .toggle_header_icon {
  right: 35px;
  width: 25px;
  height: 25px;
}

.active_nav_right .toggle_header_navbar .toggle_header_icon i {
  font-size: 14.5px;
}

.active_nav_right .nav_profile {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.active_nav_right .add_img_profile,
.active_nav_right .input_profile_img {
  width: 40px;
  height: 40px;
  border-width: 2px;
}

.active_nav_right .add_img_profile {
  margin-left: 20px;
}

.active_nav_right .nav_profile h4 {
  display: none;
}

.active_nav_right {
  width: 70px;
  transition: width 0.3s ease-in-out;
}

.active_nav_right .navbar_menu span {
  display: none;
}

.active_nav_right .navbar_menu .navbar__dropdown {
  padding-right: 0px;
}

.active_nav_right .navbar_menu .btn_toggle {
  display: none;
  padding: 0;
  margin: 0;
}

/* End of Actives */

/* Responsive */
@media (max-width: 991px) {
  .navbar {
    width: 70px;
    padding: 0px;
  }
  .toggle_header_navbar .toggle_header_icon {
    right: 53px;
  }

  .navbar .nav_profile {
    justify-content: end;
  }

  .navbar .add_img_profile,
  .navbar .input_profile_img {
    width: 40px;
    height: 40px;
    border-width: 2px;
  }

  .navbar .nav_profile h4 {
    display: none;
  }

  .navbar .navbar_menu span {
    display: none;
  }

  .navbar .navbar_menu .navbar__dropdown {
    padding-right: 0px;
  }

  .navbar .navbar_menu .btn_toggle {
    display: none;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 60px;
  }
  .toggle_header_navbar .toggle_header_icon {
    right: 45px;
  }
}

@media (max-width: 480px) {
  .navbar {
    width: 55px;
  }
  .navbar_menu {
    padding-right: 5px;
  }
  .faculties_menu li i img {
    width: 20px;
    margin-right: 0px;
  }
  .navbar_menu li a {
    padding: 6px 7px;
    font-size: 16px;
  }
  .navbar_menu li i {
    padding: 0 5px;
  }
  .toggle_header_navbar .toggle_header_icon {
    right: 40px;
    width: 25px;
    height: 25px;
  }
  .toggle_header_navbar .toggle_header_icon i {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .navbar {
    width: 40px;
  }
  .navbar_menu {
    padding-right: 2px;
  }
  .navbar .add_img_profile,
  .navbar .input_profile_img {
    width: 30px;
    height: 30px;
    border-width: 1px;
  }
  .toggle_header_navbar .toggle_header_icon {
    right: 32px;
    width: 23px;
    height: 23px;
  }
  .toggle_header_navbar .toggle_header_icon i {
    font-size: 13.2px;
  }
}
