.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  top: 0;
  left: 0;
  padding: 30px 9%;
  direction: ltr;
  padding-bottom: 28px;
  background: #fff;
  color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.5s ease-in-out;
  box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
}
.navbar .logo img {
  max-width: 75px;
}
/* .navbar_menu {
  margin-top: 120px;
} */
.navbar_menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar_menu li {
  font-size: 20px;
  margin: 2px;
  padding: 0 10px;
  text-align: left;
  border-radius: 10px;
  border: none;
  outline: none;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

.navbar_menu li:hover,
.navbar_menu .active {
  position: relative;
  background: linear-gradient(
    to left,
    var(--gen-color),
    var(--gen-color-hover)
  );
}
.navbar_menu li:hover span,
.navbar_menu .active span {
  color: white;
}
.navbar_menu li a {
  display: flex;
  align-items: center;
  padding: 4px;
}

.navbar_menu li span {
  font-weight: 300;
  font-size: 16px;
  padding: 0 10px;
  /* font-family: cursive; */
  font-family: vazir_m;
}
.burger_menu {
  display: none;
  /* display: block; */
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: red;
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  z-index: 1;
}
.burger_menu .burger_container {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.burger_menu .burger_container .burger_bars {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}
.burger_menu .burger_container .burger_bars .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #000;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition-delay: 0s;
}
.burger_menu .burger_container .burger_bars .bar.topBar {
  transform: translateY(0px) rotate(0deg);
}
.burger_menu .burger_container .burger_bars .bar.medbar {
  transform: translateY(5px) rotate(0deg);
}
.burger_menu .burger_container .burger_bars .bar.btmBar {
  transform: translateY(10px) rotate(0deg);
}

@media (max-width: 540px) {
  .navbar_menu {
    display: none;
  }
  .burger_menu {
    display: flex;
  }
}
