/* students_add_new_student */
.students_add_new_student {
  gap: 10px;
}

/* Filtering Buttons */
.students_filter_btn {
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0;
}

.students_filter_btn button {
  cursor: pointer;
  border-radius: 9px;
  background-color: transparent;
  border: 1px solid var(--gen-color);
  outline: none;
  padding: 4px 15px;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

.students_filter_btn .active_tab {
  background-color: var(--gen-color);
  color: #fff;
}

/* all students */
.all_students {
  flex-flow: wrap;
  margin-top: 30px;
  gap: 15px;
  margin: 20px;
  margin-top: 30px;
}

/* When Student Not Found */
.students_not_found {
  position: relative;
  height: 70px;
  width: 100%;
}

.students_not_found h5 {
  padding-top: 1rem;
  font-size: 16px;
}