.search__input {
  border: 1px solid var(--gen-color);
  height: 35px;
  padding: 10px 0;
  width: 70vw;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 560px;
}

.search__input input {
  flex: 1;
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  color: var(--text-color);
}

.search__input input:focus {
  outline-width: 0;
}

.search .search__button {
  padding: 4px 15px;
  transition: all 0.3s ease-in-out;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right: 1px solid var(--gen-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.search__button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.search__button i {
  color: gray;
  font-size: 14px;
}

.search__buttonHidden {
  display: none !important;
}

/* Responsive */
@media (max-width: 480px) {
  .search__input {
    width: 80vw;
  }
}
@media (max-width: 375px) {
  .search__input {
    width: 70vw;
  }
  .search .search__button {
    padding: 6px 7px;
    gap: 4px;
  }
  .search__input input {
    padding: 10px;
  }
  .search__button i {
    font-size: 12px;
  }
  .search__button span {
    font-size: 12px;
  }
}
