.faculties_tabHeader_content ul {
  padding: 10px 1.5rem;
  list-style-type: disc;
  list-style-type: square;
}

.departement_tabHeader {
  margin-top: 1rem;
}
.departement_tabHeader ul {
  list-style: none;
  padding: 0;
}

.semester_tabHeader {
  position: relative;
  margin-top: 1rem;
}
.semester_tabHeader ul {
  padding: 0;
}

.computer_science_tabHeader > p {
  text-align: justify;
  line-height: 2.5em;
  color: var(--text-color);
}
.computer_science_tabHeader > ul {
  list-style-type: square;
  padding: 10px 1.5rem;
}

.computer_science_ref_title ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.computer_science_ref_title ul li {
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
}
.computer_science_ref {
  margin: 1rem 0;
}
.computer_science_ref ul {
  display: flex;
  justify-content: space-around;
  border: 1px solid var(--gen-color);
  margin-bottom: 0.5rem;
  border-radius: 6px;
  padding: 8px 0;
}
.computer_science_ref ul li {
  margin-top: 10px;
}
.computer_science_ref ul li span {
  color: var(--text-color);
  font-size: 16px;
}

/* Responsive */
@media (max-width: 991px) {
  .semester_tabHeader {
    flex-wrap: wrap;
    line-height: 0;
  }
}
