.departement_tabHeader {
  margin-top: 1rem;
}
.departement_tabHeader ul {
  list-style: none;
  padding: 0;
}

.semester_tabHeader {
  position: relative;
  margin-top: 1rem;
}
.semester_tabHeader ul {
  padding: 0;
}

.computer_science_tabHeader > p {
  text-align: justify;
  line-height: 2.5em;
  color: var(--text-color);
}
.computer_science_tabHeader > ul {
  list-style-type: square;
  padding: 10px 1.5rem;
}

/* Responsive */
@media (max-width: 991px) {
  .semester_tabHeader {
    flex-wrap: wrap;
    line-height: 0;
  }
}
