.button_control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}
.button_control .next_btn {
  border: 1px solid var(--gen-color);
  background-color: transparent;
  color: #000;
}

.button_control .next_btn:hover {
  border: 1px solid transparent;
  background-color: var(--gen-color);
}

/* when on step first */
.button_control .btn.back_btn_step_first {
  cursor: not-allowed;
  opacity: 0.5;
  color: var(--gen-color);
}
.button_control .btn.back_btn_step_first:hover:before {
  top: 50px;
  left: 50px;
}
