.app {
  /* background: radial-gradient(#df1677, #923632, #4371f0); */
  /* background: linear-gradient(266deg, #48d9e3, #4bc68a, #2a5647); */
  min-height: 100vh;
  background-color: var(--gen-main-bg);
  position: relative;
}

.app .main {
  margin: 0px 260px 0px 25px;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: var(--text-color) !important;
  height: 100vh;
}

.app .main_active_nav {
  margin: 0 100px 0 25px;
}

.search__icon {
  color: gray;
}



/* Post Management Tab Header */
.posts_management_boxes {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.posts_management_boxes .post_mana_box {
  width: 180px;
}

.posts_management_boxes .post_mana_box select,
.posts_management_boxes .post_mana_box button {
  box-sizing: border-box;
  width: 100%;
  padding: 6px 10px;
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--gen-bg-color);
  border: 1px solid #e0dcdc;
  border-left-color: var(--gen-color);
  border-left-width: 3px;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s ease;
}

.posts_management_tabHeader .posts_management_filter_btn {
  text-align: center;
  margin-top: 20px;
}

.posts_management_tabHeader .posts_management_filter_btn button {
  width: 130px;
}












/* Responsive */
@media (max-width: 991px) {
  .app .main {
    margin: 0 100px 0 20px;
  }
}

@media (max-width: 768px) {
  .app .main {
    margin: 0 85px 0 10px;
  }
}

@media (max-width: 480px) {
  .app .main {
    margin: 0px 78px 0px 0px;
  }
}