@font-face {
  font-family: vazir_b;
  src: url(assets/fonts/vazir-font-v16.1.0/Vazir-Bold.woff);
}
@font-face {
  font-family: vazir_l;
  src: url(assets/fonts/vazir-font-v16.1.0/Vazir-Light.woff);
}
@font-face {
  font-family: vazir_m;
  src: url(assets/fonts/vazir-font-v16.1.0/Vazir-Medium.woff);
}

:root {
  --gen-color: #67b0d1;
  --gen-color-hover: #8ec4dd;
  --gen-bg-color: rgba(103, 176, 209, 0.3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: vazir_l, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

body {
  direction: rtl;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--gen-color);
}
