@font-face {
  font-family: vazir_b;
  src: url(assets/fonts/vazir-font-v16.1.0/Vazir-Bold.woff);
}
@font-face {
  font-family: vazir_l;
  src: url(assets/fonts/vazir-font-v16.1.0/Vazir-Light.woff);
}
@font-face {
  font-family: vazir_m;
  src: url(assets/fonts/vazir-font-v16.1.0/Vazir-Medium.woff);
}

:root {
  --gen-color: #67b0d1;
  --gen-color-hover: #8ec4dd;
  --gen-bg-color: rgba(103, 176, 209, 0.3);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: vazir_l, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

body {
  direction: rtl;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--gen-color);
}

img {
  -webkit-user-drag: none;
}

::selection {
  background-color: var(--gen-bg-color);
}

/* start of button */
.btn {
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--gen-color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--gen-color);
  cursor: pointer;
  background: transparent;
}

.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--gen-color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.btn:hover {
  color: #fff;
}

.btn:before {
  top: 100%;
  left: 100%;
  transition: all 0.3s;
}

.btn:hover:before {
  top: -30px;
  left: -30px;
}

.btn:active:before {
  background: var(--gen-bg-color);
  transition: background 0s;
}
/* end button */
