/* Posts Management Content */
.content_of_PostManagement {
  margin: 20px 0px;
  padding: 10px;
}

.content_of_PostManagement .content_of_posts_details {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  padding: 10px;
}

/* Responsive */
@media (max-width: 991px) {
  .title_posts_management {
    flex-wrap: wrap;
  }


}

@media (max-width: 768px) {}

@media (max-width: 480px) {}