/* Posts Management Content */
.content_of_PostManagement {
  margin: 20px 0px;
  padding: 10px;
}

/* Post Management Posts */
.content_of_posts_details {
  position: relative;
}

.content_of_posts_details > div {
  display: grid;
  gap: 13px;
  margin: 0 10rem;
}

/* End of Post Management Posts */

/* End of Posts */
.end_of_posts {
  position: relative;
  height: 60px;
  padding-top: 2rem;
}

.end_of_posts h5 {
  font-size: 18px;
}

/* Responsive */
@media (max-width: 991px) {
  .title_posts_management {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .content_of_posts_details > div {
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  }
}

@media (max-width: 375px) {
  .content_of_posts_details > div {
    grid-template-columns: repeat(auto-fit, minmax(170px, auto));
  }
}
