.modal {
  position: fixed;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  width: 25%;
  top: 35%;
  left: 38%;
  padding: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  z-index: 1001;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px;
}

@media (max-width: 768px) {
  .modal {
    width: 50%;
    left: 25%;
  }
}
