/* Slides */
.slider_content {
  width: 100%;
  position: relative;
  height: 500px;
  background-size: cover;
}
.slides {
  position: relative;
  width: 100%;
  height: 500px;
}
.slides .slides_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.slides .img_slide {
  position: relative;
  background-color: var(--gen-bg-color);
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.slides .slide_title,
.slides .slide_description {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 40px;
  position: absolute;
  text-align: center;
  top: 27%;
  padding: 0 20px;
}
.slides .slide_description {
  top: 65%;
  font-size: 25px;
}

/* Arrows */
.arrows .prev_slide,
.arrows .next_slide {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px;
  margin-top: -3rem;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px 0px 0px 5px;
  cursor: pointer;
}
.arrows .prev_slide i,
.arrows .next_slide i {
  color: #fff;
}
.arrows .prev_slide:hover,
.arrows .next_slide:hover {
  color: #fff;
  background: var(--gen-bg-color);
  transition: all 0.3s ease-in;
}
.arrows .next_slide {
  left: 0;
  border-radius: 0px 5px 5px 0px;
}

/* Dots */
.all_dots {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 95%;
}
.all_dots .dot {
  cursor: pointer;
  width: 13px;
  height: 13px;
  margin: 0 2.5px;
  border-radius: 50%;
  background: var(--gen-bg-color);
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-in-out;
}
.all_dots .active_dot,
.all_dots .dot:hover {
  background: var(--gen-color);
  width: 14px;
  height: 14px;
}

/* Responsive */
@media (max-width: 991px) {
  .slides .slide_title {
    font-size: 30px;
  }
  .slides .slide_description {
    font-size: 20px;
    top: 60%;
  }
}
@media (max-width: 768px) {
  .arrows .prev_slide,
  .arrows .next_slide {
    padding: 8px;
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .navbar {
    width: 65px;
    border-right: 5px solid var(--gen-color);
  }
  .slides .slide_title {
    font-size: 25px;
  }
  .slides .slide_description {
    font-size: 20;
    top: 52%;
  }
  .arrows .prev_slide,
  .arrows .next_slide {
    padding: 6px;
    font-size: 18px;
  }
  .all_dots .dot {
    width: 13px;
    height: 13px;
  }
}
