.new_post {
  margin-top: 20px;
  position: relative;
  padding: 0 5rem;
}

.post_description {
  flex: 5;
  gap: 20px;
  text-align: right;
}

.post_description .editorContainer {
  height: 200px;
  width: 100%;
  text-align: right;
}

.editorContainer .editor {
  height: 100%;
  border: none;
  text-align: right;
  font-size: 16px;
}

/* file handler */
.post_file_img {
  margin-top: 3rem;
}

.post_file_img .file_handler #input[type="file"] {
  display: none;
}

.post_file_img .file_handler label {
  gap: 6px;
  font-size: 15px;
}

.post_file_img .file_handler label p {
  font-size: 14px;
  color: var(--text-color);
}

.post_file_img .file_handler .image-upload i {
  color: var(--gen-color-hover);
  font-size: 23px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.post_file_img .file_handler label:hover i {
  color: var(--gen-color);
}

/* post boxes */
.share_post_on {
  margin-top: 1.5rem;
}

.share_post_on h3 {
  font-size: 19px;
  color: var(--text-color);
}

.post_boxes {
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  grid-gap: 10px;
}

.post_boxes .post_box {
  width: 100%;
}

.post_boxes .post_box select {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #555;
  border: 1px solid #e0dcdc;
  border-left-color: var(--gen-color);
  border-left-width: 3px;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s ease;
}

/* Responsive */
@media (max-width: 991px) {
  .new_post {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .post_file_img {
    margin-top: 4.5rem;
  }
}
@media (max-width: 480px) {
  .post_file_img {
    margin-top: 5.8rem;
  }
  .post_file_img .file_handler .image-upload i {
    font-size: 20px;
  }
  .post_file_img .file_handler label p {
    font-size: 13px;
  }
}
